<div class="project-card box col-11 col-sm-6">
  <h5>Collabradors</h5>
  <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
</div>

<div class="project-card box col-11 col-sm-4">
  <h5>What Matters</h5>
  <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
</div>

<div class="project-card box col-11 col-sm-6">
  <h5>CharityBI</h5>
  <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
</div>

<div class="project-card box col-11 col-sm-2">
  <h5>Ripples</h5>
  <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
</div>

<div class="project-card box col-11 col-sm-6">
  <h5>Coming soon</h5>
  <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
</div>
