  <div class="breadcrumbs">
  <%= link_to :back do %>
    <div class="back-button">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  <% end %>
  <p><%= link_to "Projects", "/#projects" %></p>
  <p>/</p>
