<div class="project-area">
  <!-- COLLABRADORS -->
  <div class="project-card box col-11 col-sm-5 project-bg bg-collabradors">
    <div class="project-card-text">
      <h5>Collabradors</h5>
      <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
      <div class="project-languages-row">
        <!-- Ruby -->
        <div class="language-icon">
          <svg width="30" height="30" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2103_17653)">
              <path
                d="M35.672 37.7867L46.2809 47.2023L25.4064 45.5623C29.4961 43.0916 32.8699 40.1411 35.3961 37.7921C35.4377 37.8002 35.4819 37.8047 35.5262 37.8047C35.5745 37.8046 35.6232 37.7988 35.672 37.7867ZM47.4139 43.4131L49.3678 17.8228C48.4012 20.2919 46.872 23.1675 44.8896 26.238L47.4139 43.4131ZM36.3815 37.2054L46.9659 46.5995L44.1401 27.3744C41.8107 30.8418 39.0137 34.3869 36.3815 37.2054ZM24.0187 46.3648C21.7389 47.6279 19.3924 48.6339 17.016 49.3685L41.4092 47.728L24.0266 46.3626L24.0187 46.3648ZM3.64717 34.0382L10.0367 48.9688L15.2956 31.547L3.64717 34.0382ZM16.8471 30.6629L34.6383 36.3774L30.0984 18.3888L16.8471 30.6629ZM31.094 16.6021L47.6789 15.492L34.712 4.90137L31.094 16.6021ZM40.5275 0.285059L29.6445 0.23584L34.4827 3.62354L40.5275 0.285059ZM0.467285 27.7107L0.10918 38.3214L2.71943 33.5606L0.467285 27.7107ZM6.41289 31.9734C8.48164 32.1054 10.5714 31.647 12.6795 30.7242C14.0995 30.0513 15.5727 29.1996 17.0513 28.1985C19.1719 26.7003 21.3091 24.8263 23.4619 22.6927C31.2053 15.0186 34.3892 6.43613 31.0055 3.01895C30.198 2.2041 29.0422 1.7876 27.5691 1.78115C23.1102 1.76191 16.4456 5.11855 10.7655 10.7501C5.33721 16.1308 1.81719 22.5173 1.79834 27.0214C1.7917 28.6229 2.23477 29.8846 3.11504 30.7721C3.89795 31.563 5.01035 31.8835 6.41289 31.9734ZM22.5687 46.1113C22.8114 45.9857 23.0533 45.8588 23.2921 45.7296L16.1317 31.914L10.7428 49.7642C10.7879 49.7583 11.1519 49.7145 11.1519 49.7145C11.6222 49.6547 12.0867 49.5858 12.5455 49.508C15.5063 49.0032 18.4356 48.079 21.252 46.7601C21.6977 46.5517 22.1358 46.335 22.5687 46.1113ZM37.1917 34.7159L37.3615 34.521C37.4801 34.3819 37.5995 34.2402 37.7184 34.098C37.7184 34.098 38.0863 33.66 38.2293 33.4859C38.4699 33.1949 38.7091 32.8979 38.9491 32.5993C39.1696 32.3239 39.3895 32.0477 39.6091 31.7664C39.8394 31.4714 40.0696 31.1758 40.2981 30.8744C40.8154 30.1935 41.3385 29.4795 41.8975 28.6908C42.489 27.8564 43.0604 27.0168 43.5982 26.1924L42.6284 25.5993C40.0531 24.0246 34.8774 20.8526 31.4758 18.7631L35.8775 36.204C36.2876 35.7537 36.7205 35.2641 37.1917 34.7159ZM49.6323 6.63574L35.938 4.71299L48.9935 15.3895C49.4521 13.8762 49.7509 12.4086 49.881 11.0243C49.8997 10.8303 49.9117 10.6352 49.9234 10.4386C49.9346 10.2577 49.9409 10.0762 49.9458 9.89424C49.9771 8.71523 49.8716 7.62002 49.6323 6.63574ZM44.3677 25.3654C44.4013 25.3212 44.4389 25.2715 44.4799 25.2118C44.7405 24.8428 45.1112 24.239 45.5234 23.5117C46.6707 21.4886 48.0858 18.6041 48.676 16.4812L31.6436 17.6175C35.1962 19.8007 40.3858 22.9812 42.966 24.5593L44.3417 25.3989C44.3499 25.3887 44.3583 25.3774 44.3677 25.3654ZM23.9516 45.5203L24.0048 45.4903C27.7202 43.4313 31.0409 40.8984 34.7608 37.2787L16.6535 31.4382L23.9516 45.5203ZM0.0488281 40.2287C0.128809 42.5867 0.629199 44.5335 1.53721 46.0286L2.38271 35.959L0.0488281 40.2287ZM3.34805 35.2937L2.37246 46.9147C3.7625 48.7331 5.61973 49.5451 8.38105 49.5451C8.65918 49.5451 8.94805 49.5375 9.25781 49.5224L8.77002 48.3103C7.71445 45.688 4.70234 38.2078 3.34805 35.2937ZM49.4281 5.91836C49.2273 5.3042 48.9711 4.73711 48.6653 4.22832C47.4317 2.17607 45.3009 0.862988 42.3303 0.324414L35.6935 3.98955L49.4281 5.91836Z"
              />
            </g>
            <defs>
              <clipPath id="clip0_2103_17653">
                <rect width="52" height="52" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <!-- Ruby on Rails -->
        <div class="language-icon">
        </div>
        <!-- HTML -->
        <div class="language-icon">
        </div>

        <!-- CSS -->
        <div class="language-icon">
        </div>

        <!-- Sass -->
        <div class="language-icon">
        </div>

      </div>
      <div class="team-project-chip"></div>
    </div>
    <div class="device-image-container">
      <div class="phone-image">
        <%= image_tag("test-phone.png", :alt => "Sean Donnelly", style: 'height: auto; width:100%') %>
      </div>
    </div>
  </div>

  <div class="project-card box col-11 col-sm-5 project-bg bg-collabradors">
    <div class="project-card-text">
      <h5>Collabradors</h5>
      <p class="sub-text">A web app helping pet owners organise free, reciprocal pet care locally.</p>
      <div class="project-languages-row"></div>
      <div class="team-project-chip"></div>
    </div>
    <div class="device-image-container">
      <div class="phone-image">
        <%= image_tag("test-phone.png", :alt => "Sean Donnelly", style: 'height: auto; width:100%') %>
      </div>
    </div>
  </div>
</div>
