.breadcrumbs {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 24px
}

.breadcrumbs a, .breadcrumbs h3 {
  line-height: 20px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
}

.breadcrumbs a, .breadcrumbs p {
  font-weight: lighter;
}

.back-button {
  background-color: $link;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px
}

.back-button:hover {
  background-color: $link-hover
}

.back-button i {
  font-size: 20px;
  color: $green-primary
}

// CONTENTS

.contents {
  margin-bottom: 64px;
}

.top, .bottom {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

// Overview
.overview {
  height: fit-content;
}

.overview .caption {
  font-size: small;
  color: $grey;
}

// Carousel
.project-carousel {
  height: fit-content;
}

.carousel-image {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}

// Key Contributions
.contribution {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.contribution p {
  margin: 0px
}

.contribution i {
  font-size: 24px;
  color: white;
}

// Tools  & Technologies
.tools {
  position: relative;
  height: fit-content;
}

.box.tools {
  background-color: transparent;
}

.coloured-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('coloured-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: blur(10px);
}

.tools-icons {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.tools h4, .tools .tools-icons {
  z-index: 1;
}


// MEDIA QUERIES FOR RESPONSIVENESS
@media (max-width: 1000px) {
  .top, .bottom {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  .top {
    flex-direction: column-reverse;
  }

  .bottom {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }
}
