.breadcrumbs {
  display: flex;
  align-items: baseline;
  gap: 5px
}

.breadcrumbs a, .breadcrumbs h3 {
  line-height: 20px;
  margin-top: 16px;
  text-decoration: none;
  color: white;
}

.back-button {
  background-color: $link;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px
}

.back-button:hover {
  background-color: $link-hover
}

.back-button i {
  font-size: 20px;
  color: $green-primary
}

// CONTENTS

.contents {
  margin-bottom: 64px;
}

.top, .bottom {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.overview {
  height: fit-content;
}


.tools {
  height: fit-content;
}


// CAROUSEL

.project-carousel {
  height: fit-content
  // min-height: 400px;
  // max-height: 80vh;
  // aspect-ratio: 16 / 9;
}

.carousel-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// MEDIA QUERIES FOR RESPONSIVENESS
@media (max-width: 1000px) {
  .top, .bottom {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  .top {
    flex-direction: column-reverse;
  }

  .bottom {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

}
