<nav class="col-11 mx-auto px-0">
  <%= image_tag("sean-avatar.png", :alt => "Sean's Avatar", style: 'height: 40px; width:auto') %>
  <h4>Sean Donnelly</h4>
  <a href="https://www.github.com/seandonnelly92" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/seandonnelly92" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
</nav>
