<!-- NAVBAR -->
<nav>
  <!-- LATER: make this image swap to the other avatar on hover -->
  <%= image_tag("sean-avatar.png", :alt => "Sean's Avatar", style: 'height: 40px; width:auto') %>
  <h4>Sean Donnelly</h4>
  <a href="https://www.github.com/seandonnelly92" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/seandonnelly92" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
</nav>

<!-- STICKY MENU -->
<div class="menu col-lg-3 col-md-5 col-sm-8 col-10">
  <a href="#intro" class="menu-item">Intro</a>
  <a href="#projects" class="menu-item">Projects</a>
  <a href="#contact" class="menu-item">Contact</a>
</div>

<!-- INTRO -->
<div class="d-flex justify-content-center intro">
  <div class="box col-sm-11 col-md-8 col-lg-6">
    <h3 class="mb-3">👋🏻 I'm Sean, a Software Engineer with loads of product experience, ideas and energy</h3>
    <div class="image-wrap">
      <%= image_tag("sean-donnelly.JPG", :alt => "Sean Donnelly", style: 'height: 250px; width:auto') %>
    </div>
    <p>Hello and welcome to my portfolio.</p>
    <p>I've been building B2B and B2C tech products as a non-technical startup founder for over 5 years. Now, I'm focused on Software Engineering after completing an intensive coding bootcamp.</p>
    <p>I have led Product, UX, User Research, Sales, Marketing, Fundraising, Management and Compliance. So, it's fair to say I'm exceptionally adaptable and resilient. I'm a proactive problem-solver and I enjoy big challenges.</p>
    <p>If you're working on something exciting, <a href="/#contact">let's chat</a>!</p>
    <p>Cheers,<br>
      Sean</p>
    <div class="availability-chip">
      <div class="availability-dot"></div>
      <!-- <dotlottie-player src="https://lottie.host/a816a813-8b3f-4a98-a49d-53f4c1d067cf/ZtcPgb0QTJ.json" background="transparent" speed="1" style="width: 16px; height: 16px;" loop autoplay></dotlottie-player> -->
      <p>I currently have limited availability for projects</p>
    </div>
  </div>
</div>

<!-- PROJECTS -->
<!-- LANGUAGES FILTER -->
<%= render partial: 'components/languages_filter' %>
<!-- PROJECT CARDS -->

<!-- CONTACT -->
<div class="d-flex justify-content-center" id="contact">
  <div class="box col-sm-11 col-md-8 col-lg-6">
    <h2>I'd love to hear from you</h1>
    <p>Hello and welcome to my portfolio.</p>
    <p>I've been building B2B and B2C tech products as a non-technical startup founder for over 5 years. Now, I'm focused on Software Engineering after completing an intensive coding bootcamp.</p>
    <p>I have led Product, UX, User Research, Sales, Marketing, Fundraising, Management and Compliance. So, it's fair to say I'm exceptionally adaptable and resilient. I'm a proactive problem-solver and I enjoy big challenges.</p>
    <p>If you're working on something exciting, <a href="/#contact">let's chat</a>!</p>
    <p>Cheers,<br>
      Sean</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="box col-sm-11 col-md-8 col-lg-6">
    <h2>I'd love to hear from you</h1>
    <p>Hello and welcome to my portfolio.</p>
    <p>I've been building B2B and B2C tech products as a non-technical startup founder for over 5 years. Now, I'm focused on Software Engineering after completing an intensive coding bootcamp.</p>
    <p>I have led Product, UX, User Research, Sales, Marketing, Fundraising, Management and Compliance. So, it's fair to say I'm exceptionally adaptable and resilient. I'm a proactive problem-solver and I enjoy big challenges.</p>
    <p>If you're working on something exciting, <a href="/#contact">let's chat</a>!</p>
    <p>Cheers,<br>
      Sean</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="box col-sm-11 col-md-8 col-lg-6">
    <h2>I'd love to hear from you</h1>
    <p>Hello and welcome to my portfolio.</p>
    <p>I've been building B2B and B2C tech products as a non-technical startup founder for over 5 years. Now, I'm focused on Software Engineering after completing an intensive coding bootcamp.</p>
    <p>I have led Product, UX, User Research, Sales, Marketing, Fundraising, Management and Compliance. So, it's fair to say I'm exceptionally adaptable and resilient. I'm a proactive problem-solver and I enjoy big challenges.</p>
    <p>If you're working on something exciting, <a href="/#contact">let's chat</a>!</p>
    <p>Cheers,<br>
      Sean</p>
  </div>
</div>
