// Placeholder Text
.form-control::placeholder {
  color: $grey;
  font-style: italic;
}

// INPUTS
// Inputs - unfocussed/general
// Note: I have to repeat the attributes because I'm overriding bootstrap every time.
.form-control {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  border-bottom: solid 1px $grey;
  color: $text;

  // When the browser autofills a field. We have to target the shadow because the browser overrides background-color.
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $green-primary inset !important;
    -webkit-text-fill-color: $text !important;
  }
}

// // Inputs - focussed
.form-control:focus {
  background-color: transparent;
  color: $text;
  border-radius: 0;
  border: none;
  border-radius: 2px;
  border-bottom: solid 2px $text;
  box-shadow: none;
}
