// PROJECTS


.project-area {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  background: $green-secondary;
  border: solid 1px $green-outline;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  transition: 0.15s ease-in-out;
}

.project-card:hover {
  transform: scale(1.03);
  transition: 0.15s ease-in-out;
  border: solid 1px white
}

.project-card-text {
  padding: 40px 40px 40px 40px;
}

.project-card p {
  color: $grey;
  font-size: 1rem;
}

.device-image-container {
  // background-color: red;
  display: flex;
  justify-content: flex-end;
}

.phone-image {
  border-radius: 12px;
  width: 150px;
  overflow: hidden;
  border: solid 5px #232323;
  margin-top: -120px;
  // margin-bottom: -8px;
  // margin-right: -8px;
}

.desktop-image {
  border-radius: 12px;
  width: 300px;
  overflow: hidden;
  border: solid 5px #232323;
  margin-top: -70px;
  // margin-bottom: -8px;
  // margin-right: -8px;
}

.project-languages-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  // height: 30px;
}

.languages-row-icon {
  height: 30px;
  width: auto
}

.project-chip {
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 20px;
  padding: 4px 12px;
  color: $grey;
  font-size: 12px;
  margin-top: 16px;
  gap: 4px;
}

// BACKGROUND IMAGES

.bg-collabradors {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('collabradors/collabradors-dog-walkers-sean-donnelly');
}

.bg-what-matters {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('what-matters/busy-world.jpg');
}

.bg-yes-gaffer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('yes-gaffer/yes-gaffer-grassroots-football');
}

.bg-charitybi {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('charitybi/leaf');
}

.bg-ripples {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('ripples/sean-donnelly-ripples-ciof');
}
.project-bg {
  background-size: cover;
  background-position: center center;
}


// MEDIA QUERIES FOR RESPONSIVE DESIGN


/* Large devices (laptops/desktops, between 1300px and 992px width) */
@media only screen and (max-width: 1299px) {
  // Language icons in language bar: reduce size

  // Ensure phone image inside project card doesn't overlap
  .phone-image {
    margin-top: -50px;
    width: 150px;
  }

  .desktop-image {
    width: 350px
  }
}

/* Medium devices (landscape tablets, between 992px and 768px width) */
@media only screen and (max-width: 991px) {
  // Language icons in language bar: reduce size and add horizontal scroll

}

/* Small devices (portrait tablets and large phones, between 768px and 600px width) */
@media only screen and (max-width: 767px) {
  // Langugage icons in the language bar: ensure the above rules are inherited

  // Ensure phone image inside project card doesn't overlap
  .phone-image,
  .desktop-image {
    margin-top: 0px;
  }
}

/* Extra small devices (phones, less than 600px width) */
@media only screen and (max-width: 599px) {
  /* Your styles for extra small (mobile) devices here */
}

/* Optionally, if you need a breakpoint for very large screens, use min-width */
@media only screen and (min-width: 1600px) {
  /* Your styles for very large screens here */
}
